<!DOCTYPE html>
<html lang="en">

	<style type="text/css">
		h1 {color:#36C2F0; font-family:Arial, Helvetica, sans-serif; font-size:40px;}
		a {color:black; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:30px;}
		.container {padding-left: 40px;}
	</style>
	
    <head>
        <meta charset="utf-8" />
        <title>Console Selection</title>
        <link rel="stylesheet" href="./stylesheets/style.css"/>
    </head>
    
    <body class="container">
        <h1>Console Selection</h1>
        
        <div class="alertMessage"></div>
        
        <ul>
            <li><a href="/buckSimulator">Buck Simulator</a></li></br>
            <li><a href="/hud">HUD</a></li></br>
            <li><a href="/info_panel">Info Panel</a></li></br>
            <li><a href="/center_console">Center Console</a></li></br>
            <li><a href="/passenger">Passenger</a></li></br>
            <li><a href="/panelTest">Panel Test</a></li>
        </ul>
    </body>
</html>