
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Panel Test </title>
        <link rel="stylesheet" href="./stylesheets/style.css"/>
        <script src="/javascripts/jquery.2.0.3.min.js"></script>
        <script src='/javascripts/three.js'></script>
        <script src="/javascripts/ColladaLoader.js"></script>
        <script src='/javascripts/widgets/TestPassengerMap.js'></script>		
        <script src="/javascripts/panelLayout.js"></script>
        <script src='/javascripts/PMControls.js'></script>
    </head>
    <body class="portrait">
        <div class="panel square default"></div>
        <div class="panel-1-2-wide dynamic">
            <div class="phone">
                <div  class="caller">
                    <img src="/images/callers/Steph.png" alt="image missing"/>
                </div>
                <div class="phone-console">
                    <h1>Steph</h1>
                    <div class="call-recieve">
                        <img src="/images/phone/HungUp.png" alt="image missing"/>
                    </div>
                    <div class="call-timer">00:26</div>
                    <div class="call-volumn">
                        <img src="/images/phone/Ignore.png" alt="image missing"/>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
</html>